.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  /* background: linear-gradient(45deg, #13547a, #80d0c7); */
  position: fixed;
  top: 0;
  z-index: 0;
  /* box-shadow: 0px 4px 8px rgba(0, 179, 159, 0.1); */
  z-index: 2;
  background-color: var(--body_background);
}

.nav-links {
  display: flex;
  align-items: center;
  width: 23%;
  justify-content: space-evenly;
}

.nav-link {
  text-decoration: none;
  padding: 16px 18px;
  font-weight: 600;
  color: rgb(0, 179, 159);
}

.nav-link:hover {
  border: 1px solid rgb(0, 211, 169);
  border-radius: 5px;
}

.nav-img {
  position: fixed;
  left: 0;
  margin-left: 10px;
}

/* hambergur style */
.hamburger {
  width: 2rem;
  height: 1.6rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 5;
  margin: 15px 15px;
  display: none;
}

.burger {
  width: 2rem;
  height: 0.15rem;
  border-radius: 10px;
  background-color: var(--home_header);
  transform-origin: 1px;
  transition: all 0.3s linear;
}

@media (max-width: 790px) {
  #display-ham {
    display: none;
  }

  .hamburger {
    display: flex;
    justify-self: flex-end;
    align-self: flex-start;
    position: relative;
    position: fixed;
    right: 0;
    top: 0;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40vw;
    height: 100%;
    z-index: 5;
    padding-left: 100px;
    padding-top: 50px;
    animation: slideInLeft 0.5s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    background-color: var(--service_background);
    transform: translateX(-100%);
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media (min-width: 791px) and (max-width: 1200px) {
  .nav-links {
    width: 38%;
  }
}

@media (min-width: 1200px) {
  .nav-links {
    width: 26%;
  }
}
