:root{
  --body_background: #ffffff;
  --home_header:black;
  --home_subheader:black;
  --service_background:rgb(242, 245, 247);
}

[data-theme="dark"]{
  --body_background:rgb(18, 18, 18);
  --home_header:#ffffff;
  --home_subheader:#ffffff;
  --service_background:rgb(29, 29, 29);
}

*{
  transition: all .3s ease-in-out;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
